:root {
  --font-family-mono: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  --background: #f8f4ed;
  --background-dusk: #0f0f0f;
  --inspector-margin: rgba(146, 146, 146, 0.148);
  --inspector-padding: rgba(146, 146, 146, 0.216);
  --inspector-border: rgba(233, 233, 233, 0.555);
  --inspector-content: rgba(190, 190, 190, 0.093);
  --inspector-tip: #f8f4edf5;
  --inspector-tag: #000;
  --inspector-id: #333;
  --inspector-class: #444;
  --inspector-size: #000;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.subpixel-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reference:target,
.footnote:target {
  background-color: #ffff00;
}

.bg-background {
  background-color: var(--background);
}

.bg-background-dusk {
  background-color: var(--background-dusk);
}

.bg-background-dusk img {
  filter: invert(1);
}

.monospace {
  font-family: var(--font-family-mono);
}

.title-content {
  font-size: clamp(1.9rem, 2vw, 3vw);
}

.copy-content {
  font-size: clamp(1rem, 1.5vw, 3vw);
  line-height: 1.45em;
}

.measure-content {
  width: 50%;
  min-width: 400px;
}

@media (max-width: 400px) {
  .measure-content {
    padding: 0 2em;
    min-width: 100vw;
  }
}

.balanced {
  text-wrap: balance;
}


.hanging-punctuation {
  hanging-punctuation: first allow-end last;
}

.word-wrap {
  word-break: break-all;
}

.element-token {
  color: rgba(146, 146, 146, 0.2);
}

.element-token:last-child {
  --element-token-highlight: #000000;
  color: var(--element-token-highlight);
  border-color: var(--element-token-highlight);
  animation: append-animate 120ms ease-in-out;
}

.bg-background-dusk .element-token:last-child {
  color: #fff;
}

@keyframes append-animate {
	from {
		transform: scale(0.9);
		opacity: 0;
    max-height: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
    max-height: 1em;
	}
}

.star {
  width: 5px;
  height: 5px;
}

.w-checkbox {
  width: 16px;
  height: 16px;
}

/* dom inspector */

#inspect-controls {
  background-color: var(--background);
}

.inspect-ornament {
  left: 0;
  right: 0;
  pointer-events: none;
}

.inspect-ornament::after, .inspect-ornament::before {
  font-family: var(--font-family-mono);
  font-weight: 100;
  content: '+';
  position: absolute;
  opacity: 0.15;
  top: -1em;
}

.inspect-ornament::before {
  right: -1em;
}

.inspect-ornament::after {
  left: -1em;
}

.inspect-top {
  top: 0;
}

.inspect-bottom {
  bottom: -1em;
}

.dom-inspector {
  position: fixed;
  pointer-events: none;
  outline-color: var(--inspector-border);
  outline-style: outset;
  outline-width: 5px;
}

.dom-inspector>div {
  position: absolute;
}

.dom-inspector .tips {
  background-color: var(--inspector-tip);
  padding: 10px;
  position: fixed;
  display: none;
}

.dom-inspector .tips>div {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-family: var(--font-family-mono);
  overflow: auto;
}

.dom-inspector .tips .tag {
  color: var(--inspector-tag);
}

.dom-inspector .tips .id {
  color: var(--inspector-id);
}

.dom-inspector .tips .class {
  color: var(--inspector-class);
}

.dom-inspector .tips .size {
  margin-left: 1em;
  color: var(--inspector-size);
}

.inspector .margin {
  background-color: var(--inspector-margin);
}

.inspector .border {
  background-color: var(--inspector-border);
}

.inspector .padding {
  background-color: var(--inspector-padding);
}

.inspector .content {
  background-color: var(--inspector-content);
}
